.list-group-item {
  transition: background-color 0.3s;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.btn {
  margin-left: 5px;
}
.btn {
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  transform: scale(1.05); 
}
